#cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 25%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#total-container {
    margin: 20px;
    font-size: 20px;
    text-align: right;
}

.btn {
    margin: 10px 0;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn.add-to-cart {
    background-color: green;
    color: white;
}

.btn.remove-from-cart {
    background-color: red;
    color: white;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a {
    text-decoration: none;
    color: none;
}

button:hover {
    background-color: #0056b3;
}